<div id="<%= dom_id loadfile %>">
  <p>
    <strong>Адрес файл</strong>
    <br/>
    <%= loadfile.lfilename %>
    <br/>
    <strong>Содержимое файла</strong>
    <%=  loadfile.lfilename.read%>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= loadfile.comment %>
  </p>

</div>
