<p style="color: green"><%= notice %></p>

<h1>Способ 1 данные</h1>
Загружаем файлы с включением телеграмм групп для парсинга и сбора информации по средствам апи:
<div id="loadfiles">
  <% @loadfiles.each do |loadfile| %>
    <%= render loadfile %>
    <p>
      <%= link_to "Show this loadfile", loadfile %>
    </p>
  <% end %>
</div>

<%= link_to "New loadfile", new_loadfile_path %>
