<h1>Загрзим файл и сразу начнем проверку через апи, минус, если отвалились по 429 файл загрузиться до наступления ошибки</h1>

<%= render "form", loadfile: @loadfile %>

<br>

<div>
  <%= link_to "Back to loadfiles", loadfiles_path %>
</div>
