<div id="<%= dom_id wfile %>">
  <p>
    <strong>Word:</strong>
    <%= wfile.word %>
  </p>

  <p>
    <strong>Flag:</strong>
    <%= wfile.flag %>
  </p>

  <p>
    <strong>Dateold:</strong>
    <%= wfile.dateold %>
  </p>

</div>
