<p style="color: green"><%= notice %></p>

<h1>Wfiles</h1>

<div id="wfiles">
  <% @wfiles.each do |wfile| %>
    <%= render wfile %>
    <p>
      <%= link_to "Show this wfile", wfile %>
    </p>
  <% end %>
</div>

<%= link_to "New wfile", new_wfile_path %>
