<th scope="row"><%=   dopmygroup.id  %></th>
<td><%= dopmygroup.countuser %></td>
<td><%= dopmygroup.comment %></td>
<td><%= link_to Mygroup.find(Dopmygroup.find(dopmygroup.id).mygroup_id).username, "https://t.me/#{Mygroup.find(Dopmygroup.find(dopmygroup.id).mygroup_id).username.delete "@" }" %></td>
