<h1>Editing dopmygroup</h1>

<%= render "form", dopmygroup: @dopmygroup %>

<br>

<div>
  <%= link_to "Show this dopmygroup", @dopmygroup %> |
  <%= link_to "Back to dopmygroups", dopmygroups_path %>
</div>
