<h1>Editing twoloadfile</h1>

<%= render "form", twoloadfile: @twoloadfile %>

<br>

<div>
  <%= link_to "Show this twoloadfile", @twoloadfile %> |
  <%= link_to "Back to twoloadfiles", twoloadfiles_path %>
</div>
