<h1>Запустить прогон по тестовой таблицы 1, 429 статус</h1>

<%= form_tag workdbpage_path, method: :get do %>

  <span id="startAction">Запустить проверку групп</span>
<% end %>



<%= turbo_frame_tag "my_counter" do %>
  <span class="text-subtitle">counter:<%= @my %></span>
<% end %>

значение <span id="dialog_title_span">mydata</span>
<br/>
таймер <span id="dialog_title_span2">mydata</span>