<h1>Запустить прогон по тестовой таблицы 1, 429 статус</h1>

<%= form_tag workdbpage_path, method: :get do %>
  <span id="startAction">Запустить проверку групп</span>
<% end %>

<div class="container">
  <div class="row">
    <div class="col">
      <span id="dialog_title_span">значение {"Необработано":xxxx,"В работе":xxx,"Ненайдено":xxx}</span>
      <br/>
      <span id="dialog_title_span2"></span>
      <br/>
      <span id="dialog_title_span3"></span>
      <br/>
      таймер <span id="dialog_title_span4">mydata</span>
    </div>
  </div>
</div>


